@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Brand Colors */
  --color-primary: #2B2D6B;   /* Deep Indigo */
  --color-accent:  #FF5E6C;   /* Electric Coral */
  --color-secondary: #2FD6C7; /* Aqua Mint */

  /* Neutrals */
  --color-neutral: #16161A;        /* Charcoal (dark) */
  --color-base-100: #F4F6F8;       /* Smoke (light) */
}
