@import 'tailwindcss';
@plugin "daisyui";


/* Primary: Deep Indigo — #2B2D6B Accent: Electric Coral — #FF5E6C Secondary: Aqua Mint — #2FD6C7 Neutral dark: Charcoal — #16161A Neutral light: Smoke — #F4F6F8 */