@import "tailwindcss";
@plugin "daisyui";

/* 1. Define your Custom Theme Colors */
@theme {
  --color-primary: #2B2D6B;   /* Deep Indigo */
  --color-accent: #FF5E6C;    /* Electric Coral */
  --color-secondary: #2FD6C7; /* Aqua Mint */
  
  --color-neutral: #16161A;
  --color-base-100: #F4F6F8;
}

@custom-variant dark (&:where(.dark, .dark *));